<h1>Amazon Clone</h1>
<div class="cart-item">
  <img src="assets/images/hdd_.jpg" alt="hard drive">
  <div class="cart-item-title">Seagate Portable External Hard Drive</div>
  <div class="cart-item-price">$100</div>
  <div class="cart-item-discount">DISCOUNT: <span>5%</span></div>
  <div class="cart-item-final-price">$95</div>
</div>
<div class="control-panel">
  <div class="form-group">
    <label>Price: </label>
    <input id="txt-price" type="number" placeholder="Price">
  </div>
  <div class="form-group">
    <label>Discount: </label>
    <input id="txt-price" type="number" placeholder="Discount">
  </div>
</div>